version: '3.9'

services:
  backend:
    build: ./backend
    container_name: resume-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    networks:
      - resume-network

  frontend:
    build: ./frontend
    container_name: resume-frontend
    ports:
      - "3000:80"
    networks:
      - resume-network
    depends_on:
      - backend

networks:
  resume-network:
    driver: bridge
